@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button, input {
    background: none;
    border: none;
}

.section-1 {
width: 100%;
height: 100vh;
background: #10B582;
}

header {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center;
}

header a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FDFDFD;
}

.content{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.img1{
    position: absolute;
    right: 0;
    top: 86px;
}
.img2{
    position: absolute;
    top: 140px;
}

.icon{
    position: absolute;
    top: -50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 126px;
}

.info {
    width: 580px;
    margin: 0 auto;
    margin-top: 148px;
    text-align: center;
}

.info h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    text-align: center;
    color: #FDFDFD;
    margin-top: 40px;
    
}
.info p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FDFDFD;
    margin-top: 20px;
}

button {
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
    margin-top: 50px;
}
button  {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
}

.block {
    width: 85%;
    margin: 0 auto;
    height: 310px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
      }

  .blockNumber p:nth-child(1){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #10B582;
}
.blockNumber p:nth-child(2){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #353A5A;
}
.numbers {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px;
}

.numbers p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #10B582;
}

.text {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;
}

.text p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #353A5A;
    
} 

.section-2 {
    width: 100%;
    height: 100vh;
     
    }

.content-2 {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
        }


.textBlock h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}

.textBlock p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #353A5A;
    margin-top: 20px;
}

.textBlock button {
    width: 230px;
    height: 56px;
    background: #10B582;
    border-radius: 0px 20px;
  }

 .teachers  {
     width: 581px;
     text-align: center;
 }
 
 .row {
    display: flex;
    justify-content: space-between;
 }
 .lico p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #353A5A;
 }

 .row-2 {
     display: flex;
     justify-content: space-between;
     margin-top: 31px;
 }

.section-3 {
    width: 100%;
    height: 100vh;
    background: #10B582;
}

.content-2 {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    }

.imgGroup {
    margin-top: 123px;
}
.filling {
    width: 500px;
    margin: 0 auto;
    margin-top: 120px;
}

.filling h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    color: #FDFDFD;
}

.filling p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FDFDFD;
    margin-top: 20px;
}

.filling button {
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
}

.block-2 {
    width: 85%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 120px;
    
}

.inside p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}
.pics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-2 button {
    width: 230px;
    height: 56px;
    background: #10B582;
    border-radius: 0px 20px;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
}

.section-4 {
    width: 100%;
    height: 578px;
    background-size: cover;
    background-image: url(../assets/img/background/photo.png);
    background-position: bottom center;
    position: relative;
}

.content-4 {
    width: 508px;
    margin: 0 auto;
   position: absolute;
   right: 10%;
   top: 20%;
   
}

.content-4 h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    color: #353A5A;
}

.content-4 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 20px;
    }

    .content-4 button {
        width: 230px;
        height: 56px;
        background: #FA9F42;
        border-radius: 0px 20px;
    }

    footer{
       width: 85%;
       margin: 0 auto;
       margin-top: 80px;
      
    }

    .footerTop {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footerLeft p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #353A5A;
        margin-top: 27px;
    }

    .footerLeft img {
        margin-top: 47px;
    }

    .footerRight{
        width: 782px;
        display: flex;
        justify-content: space-between;
        margin-top: 47px;
        flex-wrap: wrap;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #353A5A;
    }
    .menu a {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #353A5A;
        margin-top: 31px;
    }

    .footerBottom {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 30px;
            }

    .bottomLeft a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #353A5A;
    }

    .bottomRight{
        width: 450px;
        display: flex;
        justify-content: space-between;
    }
    .bottomRight a {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #353A5A;
              
    }

    .email_footer {
        line-height: 31px !important;
    }
    .menu q {

    }

.header-2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
} 
.nav-2 {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.nav-2 a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #353A5A;;
}

.link{
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 135px;
}

.link p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #353A5A;
}

.course_section-1{
    width: 85%;
    margin: 0 auto;
}
.course_section-1 h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 60px;
}
.course_section-1 img{
    margin-top: 40px;
}
.course_section-1 h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 40px;
}
.course_section-1 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #353A5A;
    margin-top: 25px;
}

.course_block-2 {
    width: 85%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.number-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #10B582;
}
.number_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 15px;
}

.course_section-2 {
    width: 100%;
    height: 80vh;
    background-color: #10B582;
    }

.course_content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    }

.text_course {
    width: 540px;
    margin: 0 auto;
    margin-top: 120px;
}
.text_course h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
     color: #FDFDFD;
    }

.text_course p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FDFDFD;
    margin-top: 20px;
    }

.text_course button {
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
}

.pic {
    width: 570px;
    margin-top: 120px;
}


.info-2{
    width: 85%;
    height: 500px;
    margin: 0 auto;
    margin-top: 120px;
}


.info-2 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 120px;
}

.conteiner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 60px;
}
.info-2 button {
    width: 230px;
    height: 56px;
    background: #10B582;
    border-radius: 0px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.course_section-3 {
    width: 100%;
    height: 70vh;
    background-image: url(../assets/img/background/banner.png);
    
    background-size: cover;
    position: relative;
}

.block_sec-3   {
    width: 444px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 15%;
}   

.block_sec-3 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;

}

.block_sec-3 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 20px;
}
.block_sec-3 button {
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
    margin-top: 50px;
}

.course_section-4 {
    width: 100%;
    height: 130vh;
    margin: 0 auto;
}
.faq {
    width: 830px;
    height: 851px;
    margin: 0 auto;
    margin-top: 120px;
}
.faq h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    
}
.faq div:nth-child(2){
    width: 830px;
    height: 167px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.faq div:nth-child(3){
    width: 830px;
    height: 167px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.faq div:nth-child(4){
    width: 830px;
    height: 89px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.faq div:nth-child(5){
    width: 830px;
    height: 89px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.faq div:nth-child(5){
    width: 830px;
    height: 89px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.faq div:nth-child(6){
    width: 830px;
    height: 89px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.q img {
    position: absolute;
    right: 30px;
    top: 28px;
}

.q {
    margin-top: 60px;
}
.q h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}

.q p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;

}



.footer_course{
    width: 85%;
    margin: 0 auto;
    margin-top: 120px;
    
 }

 .footerTop {
     display: flex;
     justify-content: space-between;
     
 }

 .footerLeft p {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 130%;
     color: #353A5A;
     margin-top: 27px;
 }

 .footerLeft img {
     margin-top: 47px;
 }

 .footerRight{
     width: 782px;
     display: flex;
     justify-content: space-between;
     margin-top: 47px;
 }

 .menu {
     display: flex;
     flex-direction: column;
 }
 .menu p{
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 100%;
     color: #353A5A;
 }
 .menu a {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 100%;
     color: #353A5A;
     margin-top: 31px;
 }

 .footerBottom {
     display: flex;
     justify-content: space-between;
     margin-top: 80px;
     margin-bottom: 30px;
         }

 .bottomLeft a{
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 100%;
     font-feature-settings: 'pnum' on, 'lnum' on;
     color: #353A5A;
 }

 .bottomRight{
     width: 450px;
     display: flex;
     justify-content: space-between;
 }
 .bottomRight a {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 100%;
     font-feature-settings: 'pnum' on, 'lnum' on;
     color: #353A5A;
           
 }

 .email_footer {
     line-height: 31px !important;
 }





  @media (max-width: 370px){
    .inside p {
        font-size: 30px;
    } 
    .pics div {
        width: 300px;
    }
    .pics div img {
        width: 100%;
    }
 }
  

 @media (max-width: 1450px) {
    .block-2{
        width: auto;
    }  
}
@media(max-width: 1300px) {
    .img1, .img2{
        width: 19%;
    }
}
@media (max-width: 1100px) {
    header{
        width: 70%;
    }
}

@media (max-width: 1056px) {
    .info h2{
        font-size: 40px;
    } 
    button{
        width: 190px;
        height: 50px;
    }
    
}
@media (max-width: 770px) {
    .info p {
        font-size: 10px;
    }
    .info h2{
        font-size: 30px;
    } 
}
@media (max-width: 670px) {
    header a{
        display: none;
    }
    .icon{
        display: none;
    }
    .img1, .img2{
        display: none;
    }
    .info{
        width: auto;
    }
}
@media (max-width: 350px) {
    .info h2 {
        font-size: 25px;
    }
    button {
        width: 190px;
        height: 45px;
    }
}
    
@media (max-width: 300px) {
    .info h2 {
        font-size: 20px;
    }
    .info p {
        font-size: 7px;
    }
    button{
        width: 154px;
        height: 32px;
        font-size: 12px;
    }
}
@media (max-width: 470px)
{
    .block{
        height: 100vh;
        justify-content: center;
    }
}
@media (max-width: 1281px)
{
    .content-2 {
        justify-content: center;
    }
    .teachers{
        margin-top: 100px;
    }
    .section-2{
        height: 130vh;
    }
}
@media (max-width: 660px) {
    .section-2{
        height: 310vh;
         }
    .row, .row-2 {
        flex-direction: column ;
    }
    .lico {
        margin-top: 15px;
    }
}

@media (max-width: 560px){
    .section-3 {
        height: 160vh;
    }
    .filling {
        margin-top: 40px;
    }
    .filling h2 {
        font-size: 48px;
        text-align: center;

    }
    .filling p {
        text-align: center;
    }
    .filling button {
        margin: 100px auto;
        display: block;
    }
    .imgGroup {
        width: 110%;
        justify-content: center;
    }
}

@media (max-width: 545px){
    .pics {
        justify-content: center;
    }
    .block-2 {
        height: 200vh;
    }
}
@media (max-width: 1100px) {
    .section-4{
        background-position: left;
    }
 .content-4 {
     right: -7%;
 }
 .content-4 h2 {
  font-size: 45px;
 }
 .content-4 p{
 font-size: 12px;
 }
}
@media (max-width: 1095px) {
    .content-4 {
        display: none;
    }
}

@media (max-width: 680px){
    .content-4 {
        display: none;
    }
}

@media (max-width: 860px) {
    .section-3 {
        height: 155vh;
    }
    
}
@media (max-width: 600px)
{
    .block-2 {
        height: 220vh;
    }
}

@media (max-width: 500px) {
    .section-4 {
        height: 335px;
    }
}

@media (max-width: 430px){
    .menu q {
        margin-top: 8px;
    }
}

@media (max-width: 660px) {
    .header-2 img {
        margin: 0 auto;
    }
    .nav-2 {
        display: none;
    }

    .link {
        margin: 40px auto;
    }

.course_section-1 img {
    width: 100%;
}
.course_section-1 h2{
    font-size: 25px;
}
}

@media (max-width: 600px){
.course_block-2 {
    flex-wrap: wrap;
}
}
@media (max-width: 600px) {
    .course_block-2 {
        height: 700px;
    }
}

@media (max-width: 1270px) {
    .course_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .course_section-2 {
        height: 120vh;
    }
    .course_content img {
        width: 100%;
            }

    .pic  {
        margin-top: 65px;
    }

       
    }

    @media (max-width: 280px) {
        .course_section-2 h2 {
            font-size: 28px;
        }
        .course_section-2 {
            height: 140vh;
        }
    }

    @media (max-width: 1380px) {
        .conteiner {
        flex-wrap: wrap;
        }
        .info-2 h2 {
            
        }
    }
    @media (max-width: 280px) {
        .info-2 h2 {
            font-size: 30px;
        }
        .info-2 {
        height: 1100px;
               }
        .info-2 conteiner {
        justify-content: center;
        }
    }

    @media (max-width: 1280px) {
       .block_sec-3 {
           display: none;
       } 
    }
    @media (max-width: 680px) {
        .course_section-3 {
            height: 59vh;
    }
}
 
    @media (max-width: 280px) {
        .course_section-3 {
            height: 27vh;
            }
        }

     @media (max-width: 860px) {
        .course_section-4{
            justify-content: center;
            
        }
        .faq  h2{
            font-size: 25px;
            }
       .faq {
        width: auto;
       }
        .q {
            width: 90% !important;
        }
}

